# Virtual environment
venv/
.env

# Python bytecode
__pycache__/
*.pyc

# IDE-specific files (e.g., VS Code)
.vscode/
build

# Operating System files
.DS_Store
Thumbs.db

ImageAndTextPDFTools.spec